<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
</style>

header {
    height: 70px;
}
nav { 
    float: right;
}
footer {
    text-align: center;
    background-color: #b392ac;
    padding: 10px;
    color: #fff;
}
#linkedin {
    display: inline-block;
    height: 10px;
    width: 10px;
}
#mainimage {
    display: inline-block;
    height: auto;
    width: 100%;
}
#github {
    display: inline-block;
    height: 10px;
    width: 10px;
}